/* Global */

body{
    background-color: #EEEEEE;
    font-family: 'Inter', sans-serif;
    margin: 0 40px;
}

h1{
    font-size: 54px;
    font-weight: 900;
    color: #3B373A;
}

h2{
    font-size: 48px;
    font-weight: 900;
    color: #3B373A;
}

h3{
    font-size: 30px;
    font-weight: 900;
    color: #3B373A;
}

p{
    font-weight: 200;
}

.button{
    background-color: #7C47BF;
    text-decoration: none;
    color: white;
    font-weight: 900;
    border-radius: 50px;
    border: none;
    padding: 15px 32px;
    font-size: 18px;
    transition: all 0.2s ease;
}

.button:hover{
    background-color: #3B373A;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

ion-icon {
    font-size: 24px;
}

.line{
    height: 1px;
    width: 80%;
    background-color: #3b373a20;
    margin: 10px 0;
}

/* Nav */

nav{
    display: flex;
    justify-content: space-between;
    align-items:center;
    margin: 52px 0;
}

nav .hamburger{
    display: none;
    margin-right: 20px;
}

#hamburger{
    font-size: 36px;
}

nav img{
    height: 80px;
}

nav a{
    text-decoration: none;
    margin: 0 10px;
    font-weight: 900;
    color: #3B373A;
}

.current-page{
    color: #7C47BF;
}

.mobile-nav-links .current-page{
    color: #7C47BF;
}

nav a:hover{
    text-decoration: underline;
}

.mobile-nav{
    display: none;
    margin-bottom: 30px;
}

.mobile-nav a{
    text-decoration: none;
    margin: 12px 0;
    font-weight: 900;
    color: #3B373A;
}

.mobile-nav-links{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Hero */

.hero{
    margin: 100px 0;
}

.hero h1{
    margin-top: 0px;
    margin-bottom: 36px;
}

.hero h2{
    margin-bottom: 0px;
}

.highlight{
    background-image: linear-gradient(to right, rgba(0,0,0,0) 50%, rgba(59, 55, 58, 1) 50%);
    background-size: 200%;
    transition: background-position 0.5s;
    padding: 0 5px;
    animation: highlightTransition .7s ease forwards, textColor 2s ease forwards;
}

@keyframes highlightTransition {
    from {
        background-position: 0;
    }

    to {
        background-position: -100%;
    }
}

@keyframes textColor{
    from{
        color: rgba(59, 55, 58, 1);
    }

    to{
        color: #EEEEEE;
    }
}

.highlight-onhover{
    background-image: linear-gradient(to right, rgba(0,0,0,0) 50%, rgba(166, 166, 184, 0.4) 50%);
    background-size: 200%;
    transition: background-position 0.5s;
    padding: 0 5px;
}

/* Featured Project */

.section-title{
    margin-bottom: 60px;
}

.projects{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.featured{
    display: flex;
    justify-content: center;
    margin-bottom: 110px;
    max-width: 1200px;
    /* align-items: center; */
}

.project-info{
    margin-left: 56px;
}

.project-info p{
    margin-bottom: 36px;
}

.featured img{
    box-shadow: -20px 20px #A6A6B8;
    transition: box-shadow 0.3s ease, transform 0.5s ease;
    height: 384px;
    width: 682px;
}

.featured:hover .hover{
    box-shadow: -30px 30px #A6A6B8;
    transform: translate(5px, -5px);
    transform: scale(1.05, 1.05);
}

.featured:hover .highlight-onhover{
    background-position: -100%;
}

.featured h3{
    margin-top: 0px;
}

/* About Me */

.profile{
    display: flex;
    margin-bottom: 80px;
}

.profile-image img{
    height: 300px;
    box-shadow: -20px 20px #A6A6B8;
    transition: box-shadow 0.3s ease, transform 0.5s ease;
}

.profile:hover img{
    box-shadow: -30px 30px #A6A6B8;
    transform: translate(5px, -5px);
    transform: scale(1.05, 1.05);
}

.profile-image{
    margin: 0px 40px;
}

.profile-info p{
    font-size: 21px;
    font-weight: 400;
}

.profile-info h3{
    font-size: 36px;
    margin-top: 0;
}

.contact-links{
    display: flex;
    margin-top: 45px;
}

.contact-links a{
    margin-right: 20px;
    text-align: center;
    display: flex;
    align-items: center;
}

.skills{
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
}

.ux-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    grid-template-rows: repeat(4, 1fr); 
    grid-column-gap: 20px;
    grid-row-gap: 20px; 
    place-items: center;
}

.ux-item{
    text-align: center;
    font-weight: 500;
    font-size: 21px;
}

.skill-section{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skill-section h3{
    margin-bottom: 50px;
}

.dev-logo-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-template-rows: repeat(2, 1fr); 
    grid-column-gap: 20px;
    grid-row-gap: 20px; 
    place-items: center;
}

.dev-logo-grid img{
    transition: transform 0.2s ease-in-out;
}

.dev-logo-grid img:hover{
    transform: scale(1.2);
}

.tools-logo-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-template-rows: repeat(2, 1fr); 
    grid-column-gap: 30px;
    grid-row-gap: 30px; 
    place-items: center;
    margin-top: 20px;
}

.tools-logo-grid img{
    transition: transform 0.2s ease-in-out;
}

.tools-logo-grid img:hover{
    transform: scale(1.2);
}
/* Footer */

footer{
    display: flex;
    justify-content: flex-end;
    align-content: flex-end;
    margin: 80px 0;
}

.footer-link{
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 10px;
    background-color: #7C47BF;
    transition: all 0.2s ease;
}

.footer-link:hover{
    background-color: #3B373A;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.footer-link a{
    color: white;
}

.footer-links{
    width: 200px;
    display: flex;
    justify-content: space-around;
}

/* Responsiveness */

@media screen and (max-width: 1100px) {
    body{
        margin: 0 25px;
    }

    .featured{
        flex-direction: column;
        text-align: left;
        align-items: left;
        width: 100%;
        min-width: 320px;
    }

    .featured h3{
        margin-top: 15px;
    }

    .project-img{
        width: 100%;
    }

    .project-img img{
        width: 100%;
        height: 100%;
        box-shadow: none;
    }

    .project-info{
        margin-left: 0;
    }

    .section-title.skills-title{
        margin-bottom: 30px;
    }

    .skills{
        flex-direction: column;
        align-items: center;
    }

    .skill-section{
        margin-bottom: 50px;
    }

    .skill-section h3{
        margin-bottom: 25px;
    }

    .tools-logo-grid{
        margin-top: 0px;
    }

    footer{
        justify-content: center;
    }

}

  @media screen and (max-width: 950px) {
    body{
        margin: 0 14px;
    }

    nav .nav-links{
        display: none;
    }

    nav .hamburger{
        display:inline;
    }

    h1{
        font-size: 30px;
    }
    
    h2{
        font-size: 30px;
    }
    
    h3{
        font-size: 20px;
    }

    .button{
        font-size: 14px;
    }

    .section-title{
        margin-bottom: 20px;
    }

    .featured{
        flex-direction: column;
        text-align: left;
        /* align-items: left; */
        margin-bottom: 55px;
        min-width: 320px;
    }

    .featured h3{
        margin-top: 15px;
    }

    .project-img{
        width: 100%;
    }

    .projects .project-img img{
        width: 100%;
        height: 100%;
        box-shadow: none;
    }

    .project-info{
        margin-left: 0;
    }

    .profile{
        flex-direction: column;
    }

    .profile-image{
        display: flex;
        justify-content: center;
    }

    .profile-image img{
        box-shadow: none;
    }

    .profile-image img:hover{
        transition: none;
        transform: none;
        box-shadow: none;
    }

    .profile-info p{
        font-size: 16px;
        font-weight: 400;
    }

    .profile-info h3{
        margin-top: 20px;
    }
    

    .contact-links{
        flex-direction: column;
        align-items: flex-start;
        margin-top: 20px;
    }

    .contact-links a{
        margin-bottom: 15px;
        /* width: 80%; */
        justify-content: center;
    }

    .skills{
        flex-direction: column;
    }

    .skills ul li{
        font-size:16px;
    }

    .ux-item{
        font-size: 16px;
    }

    .tools-logo-grid{
        margin-top: 0px;
    }

    footer{
        justify-content: center;
    }
}
